@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

html {
    font-family: Chivo, sans-serif;
}

p, span, h1, h2, h3, h4, h5, h6, li, a, input, label, button {
    font-family: Montserrat, sans-serif !important;
}

body {
    background-color: #150c25;
    color: #f2f8fa;
}

textarea, input {
    background-color: #fff;
    border-style: dashed;
    border-width: 2px;
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
    height: 43px;
    margin-bottom: 14px;
}

button {
    color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    padding: 12px 25px 12px;
    background-color: #380c6a;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
    border-color: #7300ff;
    text-align: center;
    font-size: 16px;
    outline: 0;
}

button:hover {
    color: rgba(255, 255, 255, 0.95);
    background-color: #380c6a;
    border-color: #380c6a;
    border-width: 1px;
    border-style: solid;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none;
    border-color: #7300ff;
    border-width: 1px;
    border-style: solid;
}

.hide-element {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.fa-tiny-margin {
    margin-top: 4px;
}

.ptr {
    cursor: pointer;
}

.fa-stacked-ptr {
    cursor: pointer;
    margin-right: 15px;
}

.nav-logo {
    display:inline;
    vertical-align: middle;
    width:150px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
}

.nav-item {
    margin-left: 15px;
}

.navButton {
    color: #999;
}

.navButton:hover {
    color: #334758 !important;
}

.alert-danger {
    color: #fff;
    background-color: #ffabb361;
    border-color: #ba0014;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.75) !important;
}

.minor-notif-subtext {
    opacity: 0.5;
    padding: 10px 5px 30px;
    text-align: center;
}

input::-moz-focus-inner {
    border: 0;
}

.large-box {
    background: rgba(43, 9, 80, 0.55);
    border-radius: 8px;
    border-color: #6222ab;
    border-width: 1px;
    border-style: solid;
    margin: 5px;
}


.large-box:hover {
    background: linear-gradient(217deg, rgb(51, 0, 153, 0.1), rgb(34, 0, 102, 0.3) 70.71%);
    border-color: #763acf;

}

.add-frame {
    display: block;
    margin: 0 auto;
    width: 85% !important;
    height: 460px !important;
    ;
    background: rgba(72, 2, 125, 0.60);
    border: 1px solid #a366ff;
    border-radius: 8px;
    padding: 5px;
}

#StakingTab {
    padding: 10px 10px 30px;
    margin: 20px 0 100px;
}

.staking-banner-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 120px;
    width: 100%;
    border-bottom: 1px solid #a366ff;
}

.staking-banner-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 200px;
    width: 100%;
}

#staking-rectangle {
    position: relative;
    display: block;
    height: 100px;
    width: 800px !important;
}

.staking-piv-icon {
    display: inline-block;
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    top: 20px;
    border-style: solid;
    border-radius: 1000px;
    border-width: 3px;
    background-size: cover;
    background-image: url(../logo-circle.svg);
}

.stake-box {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 220px;
    margin: 30px 5px 10px;
}

#guiBalanceBoxStaking {
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 28px;
    margin: 0;
    padding: 0 10px;
    font-size: x-large;
}

.stake-balances {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    padding: 5px;
}

.stake-input {
    color: black;
    font-size: 16px !important;
    text-align: center;
    line-height: 20px;
}

.modal {
    color: black;
}

.modal-label {
    position: relative;
    top: 20px;
    font-family: monospace;
    font-size: small;
}

.auto-fit {
    width: 100%;
    height: auto;
}

@keyframes disco {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

.discoFilter {
    animation-name: disco;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}

.reload {
    position: relative;
    top: 16px;
    left: 10px;
    display: inline-block;
    font-family: Lucida Sans Unicode;
    cursor: pointer;
    animation-name: spinner;
    animation-duration: 0.75s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.playAnim {
    animation-play-state: running;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.innerShadow {
    -webkit-box-shadow: inset hsla(0, 0%, 100%, .25) 0 2px 2px, inset rgba(0, 0, 0, .6) 0 -1px 8px;
    box-shadow: inset 0 2px 2px hsla(0, 0%, 100%, .25), inset 0 -1px 8px rgba(0, 0, 0, .6);
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 4rem;
    /* Footer height */
    margin-top: 75px;
}

.rm-pd {
    padding: 15px 15px 40px;
}

.max-width {
    width: 100%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #080808;
    background-color: #000000;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    color: #ecd3af;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #334758 !important;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #b088ff !important;
}

.active {
    color: #b088ff !important;
}

/* Style the tab content */
.tabcontent {
    font-family: sans-serif;
    display: none;
    padding: 6px 12px;
    border-radius: 8px;
}

#Transaction.tabcontent {
    padding-bottom: 100px;
}


.frame {
    display: block;
    margin: 0 auto;
    background: #2B0950BF;
}

/* DASHBOARD */

.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 160px;
    width: 100%;
}

#identicon {
    position: relative;
    top: -30px;
    left: 15px;
    background-color: white;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 1000px;
}

#genKeyWarning {
    position: relative;
    padding: 20px;
}

#genKeyWarning div {
    display: inline-block !important;
    width: 100%;
    max-width: calc(100% - 304px) !important;
    padding-top: 5px;

}

#genKeyWarning .pivx-button-big {
    display: inline-block;
    float: right;
}

#piv-ring {
    display: inline-block;
    position: relative;
    width: 65px;
    height: 65px;
    left: 40px;
    bottom: 25px;
    border-style: solid;
    border-radius: 1000px;
    border-width: 3px;
    background-size: cover;
    background-image: url(../logo-circle.svg);
}

.margin-padded-qr {
    margin-bottom: 10px;
    padding: 10px;
}

#create-wallet-box {
    display: block;
    position: relative;
    width: 100%;
    height: 550px;
    border: 1px #4b1282 solid;
    box-shadow: 2px 2px 15px 2px #4b1271;
    margin: 0 0 280px 0;
    background: linear-gradient(0.25turn, rgba(77, 77, 77, 0.5), rgba(115, 0, 255, 0.3));
}

#guiBalanceBox {
    display: inline-block;
    position: relative;
    left: 90px;
    bottom: 47px;
    width: 50%;
    font-size: x-large;
}

#balance-box {
    position: absolute;
    top: 20px;
    left: 27px;
    display: block !important;
    margin: 0 auto !important;
    width: 95%;
    height: 125px;
    background: linear-gradient(0.25turn, rgba(122, 122, 122, 0.5), rgba(115, 0, 255, 0.4));
}

.balance-title {
    position: relative;
    cursor: default;
    top: 35px;
    left: 785px;
    margin: 10px;
}

#address-box {
    position: absolute;
    top: 200px;
    left: 100px;
    height: 250px;
    padding: 30px 25px;
}

.addr-title {
    position: relative;
    cursor: default;
    margin: 10px;
    left: 165px;
}

#guiAddress {
    display: inline-block;
    position: relative;
    right: -40px;
    bottom: 50px;
    width: 60%;
    font-size: 16px;
    line-break: anywhere;
    word-break: break-all;
    font-family: monospace;
    font-weight: 300;
}

#guiQRButton {
    position: relative;
    right: -115px;
    bottom: 25px;
    width: 60%;
    display: inline-block;
    font-size: large;
}

#address-box.large-box {
    width: 890px !important;
    background: linear-gradient(0.15turn, rgba(43, 9, 80, 0.45), rgba(43, 9, 80, 0.02));
}

#pubkey-box {
    position: absolute;
    height: 99%;
    top: 200px;
    left: 660px;
    height: 225px !important;
    padding: 25px 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#PrivateQR img {
    width: 95px !important;
    height: 95px !important;

}

#PublicQR img {
    width: 95px !important;
    height: 95px !important;
}

#PrivateTxt {
    color: black;
    font-size: 12px !important;
    text-align: center;
    line-height: 20px;
}


/* STAKE */

#stake-title {
    display: inline-block;
    position: absolute;
    left: 605px;
    top: 30px;
    margin: 0;
    cursor: default;
}

#balanceReloadStaking {
    top: -15px !important;
    left: 148px;
}


/* FOOTER */

#foot {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding-top: 50px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2b09508c;
    height: 4rem;
    color: white;
    text-align: center;
    border: solid #521186 1px;
    padding-top: 10px;
}

.footer a {
    color: white;
    font-weight: bold;
}

#dcfooter {
    display: inline;
}

.navbarSpecial {
    background: linear-gradient(90deg, #2c0b4c 12.5%, #500f83, #2c0b4c);
    border-bottom-color: #521186;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: fixed;
    width: 100%;
}

/* New styling */

/* Buttons */
.pivx-button-big {
    display: inline-block;
    outline: none;
    margin: 5px;
    font-family: Montserrat, sans-serif;
    height: auto;
    padding: 14px 30px;
    background: linear-gradient(183deg, #9621ff, #7d21ff);
    line-height: 1.25em;
    font: 15px Montserrat, sans-serif !important;
    letter-spacing: .025em;
    font-family: Montserrat, sans-serif;
    color: #fffeff;
    text-transform: uppercase;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
    -webkit-box-shadow: 3px 3px 25px 2px rgb(26 14 42 / 50%);
    -moz-box-shadow: 3px 3px 25px 2px rgba(26, 14, 42, .5);
    box-shadow: 3px 3px 25px 2px rgb(26 14 42 / 50%);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.button-padd {
    display: inline-block;
    height: auto;
    width: auto;
    padding: 15px 10px;
}

.home-hero {
    background: radial-gradient(45vw 80% at 90% 40%, rgba(162, 50, 255, .3), rgba(44, 11, 76, 0) 95%), linear-gradient(90deg, rgba(44, 11, 76, .9), rgba(80, 15, 131, .5) 60%, rgba(44, 11, 76, .9)), linear-gradient(35deg, rgba(44, 11, 76, .3), rgba(80, 15, 131, .3) 37%, rgba(44, 11, 76, .3) 0, rgba(80, 15, 131, .3) 76%, rgba(44, 11, 76, .3) 0, rgba(80, 15, 131, .3)), linear-gradient(90deg, #2c0b4c, #500f83 60%, #2c0b4c);
}

.title-section {
    margin-bottom: 20px;
}

/*PIVX WARNINGS*/
.warning-message {
    display: none;
    background-color: #9021fe;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.warning-message p {
    margin-bottom: 0px;
}

.warning-message a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}

.alert-danger {
    color: #fff;
    background-color: #4b1282;
    border-color: #8300ff;
}

/*PIVX TEXT CUSTOMS*/
.pivx-bold-title {
    line-height: 1.35em;
    font-size: calc(37.88235px + .70588vw);
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.pivx-bold-title span, .pivx-bold-title-smaller span {
    font-size: .6em;
    display: block;
    line-height: 1.2em;
    font-weight: 300;
}

.pivx-bold-title-smaller {
    line-height: 1.35em;
    font-size: 38px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.center-text {
    text-align: center;
}

/*PIVX FEATURES SECTION*/
.pivx-feature-father {
    margin-top: 90px;
}

.pivx-feature-interior {
    background: url(/build/images/feature_box_bg.78eae374.svg), linear-gradient(90deg, #2b1542, #230f3c);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}

.pivx-feature-interior h4 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 19px;
}

.pivx-feature-interior h5 {
    opacity: 0.65;
    padding: .7rem 0 1.25rem;
    line-height: 1.75em;
    font-size: 16px;
    font-weight: 300 !important;
}

.feature-icon img {
    width: 146px;
    height: auto;
}

.feature-icon {
    text-align: center;
    width: 100% !important;
    margin-top: -90px;
    min-height: 150px;
}

.smaller-feature {
    width: 100px!important;
}

.features-section {
    margin-top: 0px;
}

.buttoni-icon {
    vertical-align: top;
    display: inline-block;
    padding: 0 12px 0 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.buttoni-icon svg {
    display: block;
    width: auto;
    height: 24px;
    max-height: 24px;
    margin: 0;
    fill: #fffeff;
}

.buttoni-text {
    vertical-align: top;
    display: inline-block;
    padding: 2px 0 0;
}

.buttoni-arrow {
    vertical-align: top !important;
    display: inline-block;
    padding: 4px 0 4px 10px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.buttoni-arrow svg {
    display: block;
    width: 15px;
    height: auto;
    margin: 0;
    fill: #fffeff;
}

.purple-icon-link {
    color: #9621ff;
}

.purple-icon-link, .white-icon-link {
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;
}

.black-link .link-icon.link-icon-suffix, .dark-link .link-icon.link-icon-suffix, .faded-link .link-icon.link-icon-suffix, .gray-link .link-icon.link-icon-suffix, .light-link .link-icon.link-icon-suffix, .pink-link .link-icon.link-icon-suffix, .purple-icon-link .link-icon.link-icon-suffix, .purple-link .link-icon.link-icon-suffix, .shaded-link .link-icon.link-icon-suffix, .white-icon-link .link-icon.link-icon-suffix, .white-link .link-icon.link-icon-suffix, a .link-icon.link-icon-suffix {
    padding: 0 0 0 .6rem;
    float: right;
    margin-top: 2px;
    -webkit-transition: padding-left .14s ease-out;
    -moz-transition: padding-left .14s ease-out;
    -o-transition: padding-left .14s ease-out;
    transition: padding-left .14s ease-out;
}

.black-link .link-icon svg, .dark-link .link-icon svg, .faded-link .link-icon svg, .gray-link .link-icon svg, .light-link .link-icon svg, .pink-link .link-icon svg, .purple-icon-link .link-icon svg, .purple-link .link-icon svg, .shaded-link .link-icon svg, .white-icon-link .link-icon svg, .white-link .link-icon svg, a .link-icon svg {
    display: block;
    width: 19px;
    height: auto;
    fill: #cac9d2;
}

.black-link, .dark-link, .faded-link, .gray-link, .light-link, .pink-link, .purple-icon-link, .purple-link, .shaded-link, .white-icon-link, .white-link, a {
    vertical-align: top;
    display: inline-block;
    text-decoration: none !important;
}

.black-link, .dark-link, .faded-link, .gray-link, .light-link, .pink-link, .purple-icon-link, .purple-link, .shaded-link, .white-icon-link, .white-link, a {
    outline: none;
    background: none;
    border: none;
}

/*PIVX DONATION SECTION*/
.donation-section {
    margin-top: 50px;
    margin-bottom: 100px;
}

/*PIVX DASHBOARD*/
.dashboard-item {
    background: rgba(43, 9, 80, .75);
    border-radius: 6px;
    padding: 40px;
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;
    float: left;
    margin-bottom: 15px;
}

.send-eligibility-section .container .column-padded-around .coinstat-icon, .supply-control-section .container .column-padded-around .coinstat-icon {
    margin-bottom: .5rem;
}

.coinstat-icon, .coinstat-icon svg, .masternodes-requirements-section .masternode-requirement-icon, .masternodes-requirements-section .masternode-requirement-icon svg, .setup-icon, .setup-icon svg {
    margin: 0 auto;
}

.coinstat-icon, .feature-icon, .masternodes-requirements-section .masternode-requirement-icon, .setup-icon {
    display: block;
    width: 75px;
    height: 75px;
    padding: 0;
}

.coinstat-icon svg, .feature-icon svg, .masternodes-requirements-section .masternode-requirement-icon svg, .setup-icon svg {
    display: block;
    width: 75px;
    max-height: 75px;
    padding: 0;
    fill: #9621ff;
}

.dashboard-title {
    margin-top: 15px;
}

.badge {
    margin-bottom: 13px;
}

.private-key-area {
    height: 29px !important;
    font-size: 14px !important;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #521685;
    border: none;
    resize: none;
    color: white;
}


/* BREAKPOINTS */

@media screen and (max-width: 1200px) {

    /* Stake page */

    #piv-price {
        left: 40px !important;
    }

    #guiBalanceBoxStaking {
        left: 135px !important;
    }

    #stake-title {
        left: 540px !important;
    }

    .button-padd .pivx-button-big {
        margin: 0;
        display: inline-block !important;
        width: 100% !important;
        padding: 15px 13px;

    }
}

@media screen and (max-width: 1199px) {

    /* Dashboard page */
    #genKeyWarning .pivx-button-big {
        margin-top: 20px;
    }

    #balance-box h3 {
        left: 640px !important;
    }

    #address-box.large-box {
        width: 770px !important;
        position: absolute;
        left: 70px !important;
    }

    #pubkey-box {
        left: 566px !important;
        top: 205px !important;

    }

    #PrivateQR img {
        width: 90px !important;
        height: 90px !important;

    }

    #PublicQR img {
        width: 90px !important;
        height: 90px !important;
    }
}

@media screen and (min-width: 1025px) {

    /*Main Wallet page */
    #PrivateTxt {
        font-size: 25px;
    }

    #PublicTxt {
        font-size: 25px;
    }
}

@media screen and (max-width: 1024px) {

    /*Main Wallet page */
    #PrivateTxt {
        font-size: 18px;
    }

    #PublicTxt {
        font-size: 25px;
    }

    /* Settings */

    #submit-button.pivx-button-big {
        width: auto !important;
        padding: 14px 90px;
    }

    #Settings .pivx-button-big {
        margin: 8px 2px;
    }
}

@media screen and (max-width: 1000px) {

    /* Stake page */
    #stake-title {
        left: 600px !important;
    }

    #balanceReloadStaking {
        top: -13px !important;
        left: 160px;
    }

    #guiBalanceBoxStaking {
        display: inline-block;
        width: 100%;
    }

    .stake-box.large-box.col-md-4 {
        margin: 30px 30px !important;
        padding: 10px;
        display: inline-block !important;
        width: 90% !important;
    }

    .add-frame {
        width: 100% !important;
    }

    .stake-box .button-padd {
        padding: 15px 6px;
    }

    .stake-box .button-padd .pivx-button-big {
        padding: 15px 22px 15px 27px;
    }

    .stake-box .button-padd .buttoni-icon {
        display: none;
    }

    .button-padd .buttoni-arrow {
        padding-left: 5px;
        padding-right: 0;
    }
}

@media screen and (max-width: 992px) {

    /* Stake page */
    #stake-title {
        left: 445px !important;
    }

    #balanceReloadStaking {
        top: -14px !important;
        left: 135px;
    }

    /* Dashboard page */
    #genKeyWarning div {
        max-width: 100% !important;
    }

    #genKeyWarning p {
        width: 100% !important;
        padding-bottom: 15px;
    }

    #genKeyWarning .pivx-button-big {
        float: none;
        clear: both;
        display: block !important;
        margin: 0 auto;
    }

    #create-wallet-box {
        height: 650px;
    }

    #balance-box {
        width: 93%;
        left: 22px;
    }

    #balance-box h3 {
        left: 420px !important;
    }

    #address-box.large-box {
        width: 580px !important;
        height: 235px;
        left: 35px !important;
        top: 170px;
        background: none;

    }

    #address-box .noselect {
        left: 10px !important;
        top: -10px;
    }

    #identicon {
        position: absolute;
        top: -20px !important;
        left: 30px !important;

    }

    #guiAddress {
        left: 80px !important;
    }

    #guiQRButton {
        left: 175px !important;
    }

    #pubkey-box {
        left: 380px !important;
        top: 410px !important;
    }

    #pubkey-box .pivx-button-big {
        width: 230px !important;
        position: absolute;
        right: -10px;
    }

    #PrivateQR img {
        width: 75px !important;
        height: 75px !important;

    }

    #PublicQR img {
        width: 75px !important;
        height: 75px !important;
    }


    /* Intro page */
    .intro-page .col-md-11 {
        width: 100% !important;
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 768px) {

    /* Main Wallet page */
    #PrivateTxt {
        font-size: 17px;
    }

    #PublicTxt {
        font-size: 25px;
    }

    /* Paddings - text */
    .dashboard-item {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Dashboard page */

    #balance-box {
        width: 92%;
        height: 120px;
        left: 20px;
    }

    #balance-box h3 {
        left: 250px !important;
    }

    #guiBalanceBox {
        left: 45px !important;
    }

    #piv-ring {
        left: 25px !important;
    }

    #address-box.large-box {
        width: 438px !important;
        height: 235px;
        left: 20px !important;
        background: none;
    }

    #pubkey-box {
        left: 15px !important;
        top: 410px !important;
    }

    #pubkey-box .pivx-button-big {
        width: 225px !important;
        right: 130px !important;
    }

    /* STAKE page */

    #guiBalanceBoxStaking {
        left: 120px !important;
        width: 90px !important;
    }

    #stake-title {
        left: 450px !important;
    }

    #balanceReloadStaking {
        top: -14px !important;
        left: 130px !important;
    }
}

@media screen and (max-width: 767px) {

    /* Dashboard */

    #genKeyWarning .pivx-button-big {
        padding: 13px 20px;
    }

    /* Stake page */
    #stake-title {
        left: 282px !important;
    }

    #balanceReloadStaking {
        top: 16px !important;
        left: 30px !important;
    }

    .add-frame {
        height: 740px !important;
    }
}

@media screen and (max-width: 690px) {

    /* Stake page */
    #guiBalanceBoxStaking {
        left: 50px !important;
        top: 30px !important;
    }

    #stake-title {
        left: 290px !important;
    }

    #balanceReloadStaking {
        top: 16px !important;
        left: 30px !important;
    }

    #piv-price {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {

    /* Buttons - Hide icons or it will be deformed */
    .buttoni-arrow, .buttoni-icon {
        display: none;
    }

    /* Main Wallet page */
    #PrivateTxt {
        font-size: 13px;
    }

    #PublicTxt {
        font-size: 17px;
    }

    /* STAKE page */
    #stake-title {
        font-size: 25px;
    }

    #submit-button.pivx-button-big {
        padding: 14px 85px 14px 100px;
        margin-top: 20px;
    }

    .buttoni-arrow {
        display: inline-block;
    }
}

@media screen and (max-width: 550px) {

    /* Dashboard page */

    #guiBalanceBox {
        bottom: 43px !important;
    }

    #piv-ring {
        left: 25px !important;
        width: 60px !important;
        height: 60px !important;
    }

    #balance-box h3 {
        left: 230px !important;
    }

    #address-box.large-box {
        width: 420px !important;
        height: 235px;
        left: 22px !important;
        border: none !important;
        background: linear-gradient(217deg, rgb(51, 0, 153, 0.1), rgb(34, 0, 102, 0.3) 70.71%);
        border-color: #763acf;

    }

    #pubkey-box .pivx-button-big {
        width: 225px !important;
        right: 120px !important;
    }

    /* STAKE page */

    #stake-title {
        left: 270px !important;
    }

    #balanceReloadStaking {
        top: 15px !important;
        left: 25px !important;
    }

    #info {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 535px) {

    /* Dashboard */
    #address-box.large-box {
        width: 400px !important;
    }

    #pubkey-box .pivx-button-big {
        width: 200px !important;
        right: 125px !important;
    }
}

@media screen and (max-width: 510px) {

    /* Dashboard page */

    #balance-box h3 {
        left: 207px !important;
    }

    #address-box.large-box {
        left: 14px !important;
        width: 390px !important;
    }

    #guiAddress {
        left: 70px !important;
    }

    #guiQRButton {
        left: 160px !important;
    }

    #pubkey-box .pivx-button-big {
        width: 200px !important;
        padding: 12px 10px;
        right: 110px !important;
    }

    /* Settings page */
    #Settings {
        text-align: center;
    }

    /* STAKE page */
    #stake-title {
        left: 230px !important;
    }

    #balanceReloadStaking {
        top: 15px !important;
        left: 35px;
    }

    #piv-price {
        width: 50px !important;
        height: 50px !important;
        top: -5px !important;
        display: none !important;
    }
}

@media screen and (max-width: 480px) {

    /* Main Wallet page */
    #PrivateTxt {
        font-size: 8px;
    }

    #PublicTxt {
        font-size: 13px;
    }
}

@media screen and (max-width: 420px) {

    /* Stake page */
    #stake-title {
        left: 180px !important;
    }

    #balanceReloadStaking {
        top: 16px !important;
        left: 15px !important;
    }

    /* Settings page */

    #submit-button.pivx-button-big {
        display: block;
        height: auto;
        width: 280px !important;
        margin: 0 auto;
    }

    .buttoni-arrow {
        display: none;
    }

    #navbarToggler {
        position: sticky;
        left: 290px;
    }

    /* Dashboard */

    #genKeyWarning .pivx-button-big {
        padding: 11px 8px 12px 12px;
    }

    #piv-ring {
        display: none !important;
    }

    #guiBalanceBox {
        top: -7px;
        left: -18px;
        font-size: 18px;
    }

    #balance-box {
        width: 90%;
    }

    #balance-box h3 {
        left: 137px !important;
        font-size: 24px;
    }

    #identicon {
        top: 1px !important;
        left: 17px !important;
        width: 55px;
        height: 55px;

    }

    #guiAddress {
        left: 20px !important;
        top: 7px;
        padding-left: 15px !important;
    }

    #guiQRButton {
        left: 180px !important;
        bottom: 145px !important;
    }

    #pubkey-box .pivx-button-big {
        width: 200px !important;
        padding: 11px 10px;
        right: 80px !important;
    }
}

@media screen and (max-width: 380px) {

    /* Stake page */
    #stake-title {
        top: 32px !important;
        left: 155px !important;
    }

    #balanceReloadStaking {
        top: 17px !important;
        left: 12px !important;
    }

    #guiBalanceBoxStaking {
        left: 30px !important;
    }

    /* Nav */
    #navbarToggler {
        left: 180px;
    }

    /* Dashboard */
    #balance-box h3 {
        left: 122px !important;
        font-size: 24px;
    }

    #pubkey-box .pivx-button-big {
        width: 200px !important;
        padding: 11px 10px;
        right: 60px !important;
    }
}